/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}